tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
tensorboard==2.18.0
numpy
pandas
matplotlib
seaborn
scikit-learn
jupyter
ipython
notebook
ipywidgets
networkx
psutil
tqdm
termcolor
tornado
six
typing-extensions
wrapt
protobuf
werkzeug
optree
jsonschema
requests
urllib3
pillow
